.activitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    height: fit-content;
}

.Activity{
    color:pink;
    margin: 0.75rem;
    border-style: solid;
    border-color: lightpink;
    border-width: 0.2rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
}


/* .activitiesCard:nth-child(even){
   
    margin: none;
    border: solid 2px pink; 
} */

.activityAndSearch {
    display: flex;
    flex-direction: column;
    align-items: center;

}


