h1 {
    font-size: 2em;
}

.EditRoutineForm {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 1.3em;
    width: 100%;

}

.EditRoutineInput {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-right: 0;
    margin: 1rem;
}

h3 {
   margin-right:.5em ;
}
