*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: pink;
}
h1{
    
    text-align: center;
}
.home{
    display: flex;
    align-items: center;
flex-direction: column;}