nav{
    display: flex;
    flex-direction: row;
    padding: 2.5rem;
    justify-content: space-between;
    background-color: #343635;
    text-decoration: none;
    height: 5rem;
    text-align: center;
    margin: 0px;
    border-radius: 25px;
}
.link{
    border-radius: 25px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}